<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/styles.css"/>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="container-log">
          <figure><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
          <h3 class="title-logo">
            LA CUZQUEÑA  S.A.
            
          </h3>
        </div>
        <nav>
          <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">
                Servicios
                </a></li>
            <li><a href="">Vehículos</a></li>
            <li><a href="">
                Contacto
                </a></li>
          </ul>
        </nav>
        <div class="container-telephone">
          <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
        </div>
      </div>
    </header>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="pages">
            <figure><img src="../../static/img/text-logo.png" alt=""/></figure>
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Vehículos</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </div>
          <div class="cnt-address">
            <h3>Ubicanos</h3>
            <div class="address">
              <div class="icon-location"></div>
              <div class="text">
                Cal. Este mza. 9 lote. 1
                Urb. Nuevo Lurín (alt. km 40)
                Lima - Lurín
                
              </div>
            </div>
          </div>
          <div class="cnt-phone">
            <h3>Llámanos</h3>
            <div class="text"><a href="">
                (511) 456 - 3456
                
                </a></div>
          </div>
          <div class="redes"><a href="" class="icon-facebook"></a><a href="" class="icon-twitter"></a><a href="" class="icon-youtube"></a></div>
        </div>
      </div>
    </footer>
  </div>
  <script src="../../static/js/jquery.js"></script>
</body>