<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css"/>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="icon-menu menu"></div>
          <div class="icon-cross close"></div>
          <div class="overlay"></div><a href="index.html" class="container-log">
            <figure class="logo"><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
            <figure class="logo-text"><img src="../../static/img/text-logo-azul.png" alt=""/></figure></a>
          <div class="nav-principal">
            <nav>
              <ul>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">
                    Servicios
                    </a></li>
                <li><a href="vehiculos.html">Vehículos</a></li>
                <li><a href="contacto.html">
                    Contacto
                    </a></li>
              </ul>
            </nav>
            <div class="container-telephone">
              <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
            </div>
          </div>
        </div>
      </header>
      <footer>
        <div class="footer-top">
          <div class="container">
            <div class="pages">
              <figure><img src="../../static/img/text-logo.png" alt=""/></figure>
              <ul>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Vehículos</a></li>
                <li><a href="">Contacto</a></li>
              </ul>
            </div>
            <div class="cnt-address">
              <h3>Ubicanos</h3>
              <div class="address">
                <div class="icon-location"></div>
                <div class="text">
                  <p>
                    Cal. Este mza. 9 lote. 1
                    Urb. Nuevo Lurín (alt. km 40)
                  </p>
                  <div class="location">
                    Lima - Lurín
                    
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="cnt-phone">
              <h3>Llámanos</h3>
              <div class="text">
                <div class="icon-icon-phone"></div><a href="">
                  (511) 456 - 3456
                  
                  </a>
              </div>
            </div>
            <div class="redes">
              <h3>Síguenos</h3>
              <ul>
                <li><a href="" class="icon-facebook"></a></li>
                <li><a href="" class="icon-twitter"></a></li>
                <li><a href="" class="icon-youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <h3>La Cuzqueña SAC 2016. Todos los derechos reservados.</h3>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/main.js"></script>
  </body>
</html>