<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/styles.css"/>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="container-log">
          <figure><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
          <h3 class="title-logo">
            LA CUZQUEÑA  S.A.
            
          </h3>
        </div>
        <nav>
          <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">
                Servicios
                </a></li>
            <li><a href="">Vehículos</a></li>
            <li><a href="">
                Contacto
                </a></li>
          </ul>
        </nav>
        <div class="container-telephone">
          <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
        </div>
      </div>
    </header>
  </div>
  <script src="../../static/js/jquery.js"></script>
</body>