
<header>
  <div class="container">
    <div class="container-log">
      <figure class="logo"><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
      <figure class="logo-text"><img src="../../static/img/text-logo-azul.png" alt=""/></figure>
    </div>
    <nav>
      <ul>
        <li><a href="">Nosotros</a></li>
        <li><a href="">
            Servicios
            </a></li>
        <li><a href="">Vehículos</a></li>
        <li><a href="">
            Contacto
            </a></li>
      </ul>
    </nav>
    <div class="container-telephone">
      <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
    </div>
  </div>
</header>