<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/styles.css"/>
</head>
<body>bloc
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="container-log">
          <figure class="logo"><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
          <figure class="logo-text"><img src="../../static/img/text-logo-azul.png" alt=""/></figure>
        </div>
        <nav>
          <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">
                Servicios
                </a></li>
            <li><a href="">Vehículos</a></li>
            <li><a href="">
                Contacto
                </a></li>
          </ul>
        </nav>
        <div class="container-telephone">
          <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
        </div>
      </div>
    </header>
    <section class="banner">
      <div class="container-slider">
        <div style="background-image:url('../../static/img/banner.png')" class="slider">
          <div class="content">
            <div class="container-text">
              <h3 class="title">CONFIANZA Y EXPERIENCIA</h3>
              <h4 class="sub-title">en tu empresa</h4>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate neque libero porro nulla, sint fugit quas expedita molestias assumenda, sed ullam fugiat suscipit mollitia nostrum dolores, officiis odit ut rerum.</div>
            </div>
          </div>
        </div>
        <div style="background-image:url('../../static/img/banner.png')" class="slider">
          <div class="content">
            <div class="container-text">
              <h3 class="title">CONFIANZA Y EXPERIENCIA</h3>
              <h4 class="sub-title">en tu empresa</h4>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate neque libero porro nulla, sint fugit quas expedita molestias assumenda, sed ullam fugiat suscipit mollitia nostrum dolores, officiis odit ut rerum.</div>
            </div>
          </div>
        </div>
        <div style="background-image:url('../../static/img/banner.png')" class="slider">
          <div class="content">
            <div class="container-text">
              <h3 class="title">CONFIANZA Y EXPERIENCIA</h3>
              <h4 class="sub-title">en tu empresa</h4>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate neque libero porro nulla, sint fugit quas expedita molestias assumenda, sed ullam fugiat suscipit mollitia nostrum dolores, officiis odit ut rerum.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="info-pages">
      <div class="container">
        <div class="page">
          <h3>NOSOTROS</h3>
          <figure><img src="../../static/img/page-nosotros.png" alt=""/></figure>
          <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eligendi adipisci error accusamus omnis ipsa blandit</div><a href="">
            Ver más
            <i class="icon-arrow-right"></i></a>
        </div>
        <div class="page">
          <h3>SERVICIOS</h3>
          <figure><img src="../../static/img/servicios.png" alt=""/></figure>
          <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eligendi adipisci error accusamus omnis ipsa blandit</div><a href="">
            Ver más
            <i class="icon-arrow-right"></i></a>
        </div>
        <div class="page">
          <h3>VEHÍCULOS</h3>
          <figure><img src="../../static/img/vehiculos.png" alt=""/></figure>
          <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eligendi adipisci error accusamus omnis ipsa blandit</div><a href="">
            Ver más
            <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </section>
    <section class="servicio-ventas">
      <div class="container">
        <div class="servicio item">
          <div class="text">
            <h3>Servicio</h3>
            <h4>LUBICENTRO Y LAVADO DE AUTOS</h4>
          </div>
          <figure><img src="../../static/img/lubicentro.png" alt=""/></figure>
        </div>
        <div class="ventas item">
          <div class="text">
            <h3>Venta de</h3>
            <h4>LLANTAS DE RESPUESTO</h4>
          </div>
          <figure><img src="../../static/img/llanta.png" alt=""/></figure>
        </div>
      </div>
    </section>
    <section class="contacto-empresa">
      <div class="container">
        <div class="formulario">
          <h2>
            <span>
            	¿Quieres movilizar
            </span>
            A TU EMPRESA?
          </h2>
          <div class="text">Déjanos tus datos y nos comunicaremos contigo:</div>
          <form>
            <div class="cnt-input">
              <div class="input">
                <input type="text" placeholder="Nombre"/>
              </div>
              <div class="input">
                <input type="text" placeholder="Correo"/>
              </div>
              <div class="input">
                <textarea name="" cols="30" rows="10" placeholder="Mensaje"></textarea>
              </div>
            </div>
            <div class="button">
              <button>
                enviar
                <i class="icon-arrow-right"></i>
              </button>
            </div>
          </form>
        </div>
        <figure><img src="../../static/img/movilizar.png" alt=""/></figure>
      </div>
    </section>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="pages">
            <figure><img src="../../static/img/text-logo.png" alt=""/></figure>
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Vehículos</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </div>
          <div class="cnt-address">
            <h3>Ubicanos</h3>
            <div class="address">
              <div class="icon-location"></div>
              <div class="text">
                <p>
                  Cal. Este mza. 9 lote. 1
                  Urb. Nuevo Lurín (alt. km 40)
                </p>
                <div class="location">
                  Lima - Lurín
                  
                  
                </div>
              </div>
            </div>
          </div>
          <div class="cnt-phone">
            <h3>Llámanos</h3>
            <div class="text"><a href="">
                (511) 456 - 3456
                
                </a></div>
          </div>
          <div class="redes">
            <h3>Síguenos</h3>
            <ul>
              <li><a href="" class="icon-facebook"></a></li>
              <li><a href="" class="icon-twitter"></a></li>
              <li><a href="" class="icon-youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <h3>La Cuzqueña SAC 2016. Todos los derechos reservados.</h3>
        </div>
      </div>
    </footer>
  </div>
  <script src="../../static/js/jquery.js"></script>
  <script src="../../static/js/main.js"></script>
  <script src="../../static/js/jquery.bxslider.min.js"></script>
  <script>
    $(document).ready(function(){
    
    	$('.container-slider').bxSlider({
    		mode:"fade",
    		auto: true,
    		pause: '525000',
    		pager: true,
    		controls: false,
    		adaptiveHeight: true,
    		onSliderLoad: function(currentIndex) {
    				$('.js-b1slider').children().eq(currentIndex).addClass('active');
    
    			},
    			onSlideBefore: function($slideElement){
    			  setTimeout( function(){
    
    				  $slideElement.addClass('active');
    
    			  },1000);
    			  $('.js-b1slider').children().removeClass('active');
    
    			}
    	});
    });
  </script>
</body>