<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/styles.css"/>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="container-log">
          <figure class="logo"><img src="../../static/img/logo.png" width="117" height="117" alt=""/></figure>
          <figure class="logo-text"><img src="../../static/img/text-logo-azul.png" alt=""/></figure>
        </div>
        <nav>
          <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">
                Servicios
                </a></li>
            <li><a href="">Vehículos</a></li>
            <li><a href="">
                Contacto
                </a></li>
          </ul>
        </nav>
        <div class="container-telephone">
          <figure><img src="../../static/img/telefono.png" alt=""/></figure><a href="">(511) 456 - 3456</a>
        </div>
      </div>
    </header>
    <section class="banner-page">
      <div class="detail-banner"></div>
      <div class="container">
        <div class="banner-image"><img src="../../static/img/banner-nosotros.png" alt=""/></div>
      </div>
    </section>
    <section class="info-pages">
      <div class="about-us">
        <div class="container">
          <div class="text-section">
            <h3 class="main-title">"Nosotros"</h3>
            <p class="text-yellow">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem." </p>
            <p class="text">"Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae."</p>
          </div>
          <div class="image-section"><img src="../../static/img/image-nosotros.png" alt=""/></div>
        </div>
      </div>
      <div class="content-other-info">
        <div class="yellow-frame"></div>
        <div class="blue-frame"></div>
        <div class="container">
          <div class="mision-side">
            <h3 class="title">"MISIÓN"</h3>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
          <div class="vision-side">
            <h3 class="title">"VISIÓN"</h3>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
        </div>
      </div>
      <div class="content-our-values">
        <div class="container">
          <div class="value"><img src="../../static/img/nosotros-01.png" alt=""/><span class="line-yellow"></span>
            <h4 class="title-value">"Confianza"</h4>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
          <div class="value"><img src="../../static/img/nosotros-02.png" alt=""/><span class="line-yellow"></span>
            <h4 class="title-value">"Confianza"</h4>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
          <div class="value"><img src="../../static/img/nosotros-03.png" alt=""/><span class="line-yellow"></span>
            <h4 class="title-value">"Confianza"</h4>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
          <div class="value"><img src="../../static/img/nosotros-04.png" alt=""/><span class="line-yellow"></span>
            <h4 class="title-value">"Confianza"</h4>
            <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum."</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="pages">
            <figure><img src="../../static/img/text-logo.png" alt=""/></figure>
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Vehículos</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </div>
          <div class="cnt-address">
            <h3>Ubicanos</h3>
            <div class="address">
              <div class="icon-location"></div>
              <div class="text">
                <p>
                  Cal. Este mza. 9 lote. 1
                  Urb. Nuevo Lurín (alt. km 40)
                </p>
                <div class="location">
                  Lima - Lurín
                  
                  
                </div>
              </div>
            </div>
          </div>
          <div class="cnt-phone">
            <h3>Llámanos</h3>
            <div class="text"><a href="">
                (511) 456 - 3456
                
                </a></div>
          </div>
          <div class="redes">
            <h3>Síguenos</h3>
            <ul>
              <li><a href="" class="icon-facebook"></a></li>
              <li><a href="" class="icon-twitter"></a></li>
              <li><a href="" class="icon-youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <h3>La Cuzqueña SAC 2016. Todos los derechos reservados.</h3>
        </div>
      </div>
    </footer>
  </div>
  <script src="../../static/js/jquery.js"></script>
  <script src="../../static/js/main.js"></script>
</body>