footer
	.footer-top
		.container
			.pages
				figure
					img(src="../../static/img/text-logo.png", alt="")
				ul
					li
						a(href="").
							Nosotros
					li
						a(href="").
							Servicios
					li
						a(href="").
							Vehículos
					li
						a(href="").
							Contacto
			.cnt-address
				h3.
					Ubicanos
				.address
					.icon-location
					.text.
						Cal. Este mza. 9 lote. 1
						Urb. Nuevo Lurín (alt. km 40)
						Lima - Lurín

			.cnt-phone
				h3.
					Llámanos
				.text
					a(href="").
						(511) 456 - 3456


			.redes
				a(href="").icon-facebook
				a(href="").icon-twitter
				a(href="").icon-youtube

