footer
	.footer-top

		.container
			.pages
				figure
					img(src="../../static/img/text-logo.png", alt="")
				ul
					li
						a(href="").
							Nosotros
					li
						a(href="").
							Servicios
					li
						a(href="").
							Vehículos
					li
						a(href="").
							Contacto
			.cnt-address
				h3.
					Ubicanos
				.address
					.icon-location
					.text
						p.
							Cal. Este mza. 9 lote. 1
							Urb. Nuevo Lurín (alt. km 40)
						.location.
							Lima - Lurín


			.cnt-phone
				h3.
					Llámanos
				.text
					.icon-icon-phone

					a(href="").
						(511) 456 - 3456


			.redes
				h3.
					Síguenos
				ul
					li
						a(href="").icon-facebook
					li
						a(href="").icon-twitter
					li
						a(href="").icon-youtube
	.footer-bottom
		.container
			h3.
				La Cuzqueña SAC 2016. Todos los derechos reservados.
