header
	.container
		.container-log
			figure
				img(src="../../static/img/logo.png", width="117" height="117" alt="")
			h3.title-logo.
				LA CUZQUEÑA  S.A.

		nav
			ul
				li
					a(href="").
						Nosotros
				li
					a(href="").
						Servicios

				li
					a(href="").
						Vehículos
				li
					a(href="").
						Contacto

		.container-telephone
			figure
				img(src="../../static/img/telefono.png", alt="")
			a(href="").
				(511) 456 - 3456

