header
	.container
		.icon-menu.menu
		.icon-cross.close
		.overlay
		a(href="index.html").container-log
			figure.logo
				img(src="../../static/img/logo.png", width="117" height="117" alt="")
			figure.logo-text
				img(src="../../static/img/text-logo-azul.png", alt="")

		.nav-principal
			nav
				ul
					li
						a(href="nosotros.html").
							Nosotros
					li
						a(href="servicios.html").
							Servicios

					li
						a(href="vehiculos.html").
							Vehículos
					li
						a(href="contacto.html").
							Contacto

			.container-telephone
				figure
					img(src="../../static/img/telefono.png", alt="")
				a(href="").
					(511) 456 - 3456

