extends ./base.jade
block content
    section.banner-page
        .detail-banner
        .container
            .banner-image
                img(src="../../static/img/banner-contacto.png", alt="")
    section.servicios-pages
        .container
            h3.
                Servicios
        .content-servicios
            .servicio.left
                .content-text
                    .content
                        h4.
                            Transporte de personal para tu empresa

                        .text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium at esse laborum perspiciatis quo ad dolor mollitia labore sunt, eaque repellendus perferendis exercitationem, omnis, autem repellat accusantium? Fugiat, exercitationem nulla.
                .image
                    figure
                        img(src="../../static/img/servicios.png", alt="")
                    .num.
                        01.
            .servicio.right
                .content-text
                    .content
                        h4.
                            Transporte de personal para tu empresa

                        .text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium at esse laborum perspiciatis quo ad dolor mollitia labore sunt, eaque repellendus perferendis exercitationem, omnis, autem repellat accusantium? Fugiat, exercitationem nulla.
                .image
                    figure
                        img(src="../../static/img/servicios.png", alt="")
                    .num.
                        01.
            .servicio.left
                .content-text
                    .content
                        h4.
                            Transporte de personal para tu empresa

                        .text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium at esse laborum perspiciatis quo ad dolor mollitia labore sunt, eaque repellendus perferendis exercitationem, omnis, autem repellat accusantium? Fugiat, exercitationem nulla.
                .image
                    figure
                        img(src="../../static/img/servicios.png", alt="")
                    .num.
                        01.
