extends ./base.jade
block content
    section.banner-page
        .detail-banner
        .container
            .banner-image
                img(src="../../static/img/banner-contacto.png", alt="")
    section.vehiculos-pages
        .overlay
        .container
            h3.
                Vehiculos
            .content-vehiculos
                .vehiculos(data-vehiculo="pop-1")
                    figure
                        img(src="../../static/img/vehiculos-1.png", alt="")
                .vehiculos(data-vehiculo="pop-2")
                    figure
                        img(src="../../static/img/vehiculos-2.png", alt="")
                .vehiculos(data-vehiculo="pop-3")
                    figure
                        img(src="../../static/img/vehiculos-3.png", alt="")
                .vehiculos(data-vehiculo="pop-4")
                    figure
                        img(src="../../static/img/vehiculos-1.png", alt="")
                .vehiculos(data-vehiculo="pop-5")
                    figure
                        img(src="../../static/img/vehiculos-2.png", alt="")
                .vehiculos(data-vehiculo="pop-6")
                    figure
                        img(src="../../static/img/vehiculos-3.png", alt="")
                .vehiculos(data-vehiculo="pop-7")
                    figure
                        img(src="../../static/img/vehiculos-1.png", alt="")
                .vehiculos(data-vehiculo="pop-8")
                    figure
                        img(src="../../static/img/vehiculos-2.png", alt="")
                .vehiculos(data-vehiculo="pop-9")
                    figure
                        img(src="../../static/img/vehiculos-3.png", alt="")
    section.pop-vehiculos
        .pop.pop-1
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptates, mollitia esse! Dolorem itaque error nihil dicta vel sed esse, illum cupiditate ipsum eius voluptatum voluptatem delectus, atque, enim eveniet!
        .pop.pop-2
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptates, mollitia esse! Dolorem itaque error nihil dicta vel sed esse, illum cupiditate ipsum eius voluptatum voluptatem delectus, atque, enim eveniet!
        .pop.pop-3
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores similique necessitatibus itaque et, cupiditate facilis veniam fugiat quasi quos, in quidem odio, deserunt est iure illum adipisci. Repudiandae, dignissimos, consequatur.
        .pop.pop-4
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam illo ad, eos labore reiciendis. Voluptate assumenda, rerum, praesentium totam natus error enim inventore officiis quia, sit reprehenderit. Eos, suscipit quas!
        .pop.pop-5
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ab sit neque placeat soluta quae itaque maiores, dolorum perferendis fuga, molestias atque architecto commodi in doloremque cupiditate reiciendis dolores et.
        .pop.pop-6
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, inventore quos a cum, enim blanditiis maxime harum, commodi praesentium, tempora autem adipisci accusamus cupiditate ad! Totam velit quo voluptates perferendis!
        .pop.pop-7
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque voluptates possimus quo tempora corporis vitae deserunt reprehenderit consectetur ipsam, pariatur, alias, perferendis placeat. Sunt necessitatibus quidem tempora culpa harum magni.
        .pop.pop-8
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum accusantium assumenda consectetur itaque, voluptatem repellendus nesciunt harum, culpa! Quisquam fuga ullam fugit unde, beatae delectus ipsum consectetur blanditiis hic soluta.
        .pop.pop-9
            .content
                .icon-cross
                figure
                    img(src="../../static/img/fancy.png", alt="")
                .text.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quos quis vero provident suscipit tempora ut illo accusantium! Reiciendis eos autem quibusdam cupiditate libero sequi impedit totam, mollitia expedita fugit.

block js

