section.info-pages {
  text-align: left;
}
section.info-pages.contact {
  margin-bottom: 45px;
}
section.info-pages .contact-us {
  text-align: left;
}
section.info-pages .contact-us .contact-main {
  text-align: left;
  width: 100%;
}
section.info-pages .contact-us .contact-main .main-title {
  color: c-azul;
  font-size: 35px;
  font-family: semibold;
}
section.info-pages .contact-us .contact-main .container-section {
  display: flex;
  justify-content: space-between;
}
section.info-pages .contact-us .contact-main .container-section .text-section {
  padding: 20px 0 0 0;
}
section.info-pages .contact-us .contact-main .container-section .text-section .block-contact {
  padding: 5px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
section.info-pages .contact-us .contact-main .container-section .text-section .block-contact .icon-contacts {
  text-align: center;
  min-width: 60px;
}
section.info-pages .contact-us .contact-main .container-section .text-section .block-contact .info-contact {
  text-align: left;
}
section.info-pages .contact-us .contact-main .container-section .text-section .block-contact .info-contact h4 {
  text-align: left;
  font-family: bold;
  color: c-azul;
  font-size: 17px;
  margin: 0 0 7px 0;
}
section.info-pages .contact-us .contact-main .container-section .text-section .block-contact .info-contact p.text-detail {
  text-align: left;
  font-size: 14px;
  font-family: regular;
  color: c-gris;
  line-height: 1.3em;
}
section.info-pages .contact-us .contact-main .form-section {
  padding: 30px 0 0 0;
  width: 50%;
}
section.info-pages .contact-us .contact-main .form-section label {
  margin: -5px 0 10px 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #f00;
}
section.info-pages .contact-us .contact-main .form-section .formgroup {
  padding: 0 15px;
}
section.info-pages .contact-us .contact-main .form-section .formgroup input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid transparent;
  margin: 0 0 15px -15px;
  background-color: c-light;
  font-family: regular;
  font-size: 14px;
  color: c-gris;
}
section.info-pages .contact-us .contact-main .form-section .formgroup textarea {
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  border: 1px solid transparent;
  background-color: c-light;
  font-family: regular;
  font-size: 14px;
  min-height: 120px;
  color: c-gris;
  margin: 0 0 15px -15px;
}
section.info-pages .contact-us .contact-main .form-section .formgroup p {
  font-size: 11px;
  color: c-gris;
  margin: 10px;
  display: inline-block;
  margin: 0 0 15px -15px;
}
section.info-pages .contact-us .contact-main .form-section button {
  font-size: 14px;
  background-color: c-amarillo;
  color: c-azul;
  border-radius: 20px;
  border: 1px solid transparent;
  font-family: bold;
  padding: 5px 10px 5px 20px;
  margin: 0 -15px 0 0;
  float: right;
}
section.info-pages .contact-us .contact-main .form-section button .only-hover {
  display: none;
  padding-left: 8px;
}
section.info-pages .contact-us .contact-main .form-section button .only-normal {
  display: inline-block;
  padding-left: 8px;
}
section.info-pages .contact-us .contact-main .form-section button:hover {
  background-color: c-azul;
  color: c-white;
}
section.info-pages .contact-us .contact-main .form-section button:hover .only-hover {
  display: inline-block;
}
section.info-pages .contact-us .contact-main .form-section button:hover .only-normal {
  display: none;
}
section.info-pages .contact-us .contact-main h3.main-title {
  text-align: left;
}
@media (max-width: 960px) {
  section.info-pages .contact-us .contact-main h3.main-title {
    text-align: center;
  }
  section.info-pages .contact-us .contact-main .container-section {
    display: block;
  }
  section.info-pages .contact-us .contact-main .container-section .text-section {
    width: 100%;
    display: block;
  }
  section.info-pages .contact-us .contact-main .container-section .text-section .block-contact {
    justify-content: center;
  }
  section.info-pages .contact-us .contact-main .container-section .text-section .info-contacts {
    text-align: left;
    width: 100%;
  }
  section.info-pages .contact-us .contact-main .container-section .form-section {
    width: 100%;
    display: block;
  }
}
